*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: column;
  inline-size: 1440px;
  block-size: 100%;
  margin: auto;
  background-color: #f0c799;
}

.header {
  background-image: url('../images/e8cdfde9aa2f6c5a65e6cb78734558f7deae3b0d.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 100%;
  padding: 17px 250px 157px;
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.logo {
  text-decoration: none;
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #fff;
}

.menu {
  display: flex;
  padding: 0px 20px;
  font-family: 'Oxygen';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-wrap: nowrap;
  list-style-type: none;
  gap: 40px;
}

.menu-item {
  color: #fff;
  text-decoration: none;
}

.menu-item:hover {
    text-decoration: underline;
}

.title-text {
  display: flex;
  margin-top: 110px;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.title-heading {
  margin: 10px 0 25px;
  width: min-content;
  text-wrap: nowrap;
  font-family: 'Lora';
  font-size: 50px;
  line-height: 51px;
  letter-spacing: 2px;
  color: #fff;
}

.title-paragraph {
  font-family: 'Oxygen';
  font-size: 17px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 31px;
}

.title-button {
  height: 44px;
  width: 167px;
  font-family: Oxygen;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background-color: #DD783F;
  cursor: pointer; 
  border: none;
  border-radius: 5px;
}

.button:hover {
    outline: 2px solid #fff;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0px;
  background-color: #fff;
  width: 100%;
  height: 65px;
  gap: 42px;
}

.navigation-item {
  font-family: "Lora";
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
  padding: 13px 25px;
  text-decoration: none;
  color: #000;
}

.navigation-item:hover {
    text-decoration: underline;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1255px;
  padding: 60px 250px;
  background-color: #F7F7F7;
  gap: 60px;
}

.posts__title {
  justify-self: center;
  margin: 0;
  border-bottom: 1px solid #000;
  height: 43px;
  width: 188px;
  text-wrap: nowrap;
  font-family: "Oxygen";
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 2px;
}

.featured-posts__cards {
  margin-top: 22px;
  display: flex;
  width: min-content;
  height: min-content;
  gap: 20px;
}

.featured-posts__card {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  padding: 134px 20px 15px;
  min-height: 280px;
  min-width: 460px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.featured-posts__card-the-road {
  background-image: url('../images/2b7ba23c300d279235514a4d799d7283716f4987.jpg');
}

.featured-posts__card-up-down {
  position: relative;
  background-image: url('../images/6e292f7e92b1d1dcd8460c93884068f787c714e2.jpg');
}

.featured-posts__card-up-down::before {
  content: "Приключения";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 20px;
  background-color: #DD783F;
  height: 26px;
  width: 105px;
  font-family: "Oxygen";
  font-size: 12px;
  line-height: 13px;
  text-transform: uppercase;
  border-radius: 10px;
}

.featured-posts__card-title {
  font-family: "Lora";
  font-size: 27px;
  line-height: 30px;
}

.featured-posts__card-paragraph {
  font-family: Oxygen;
  font-size: 16px;
  line-height: 25px;
}

.featured-posts__card-info {
  display: flex;
  height: min-content;
  margin: 15px 20px 0px;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: "Oxygen";
  font-size: 12px;
  line-height: 35px;
}

.recent-posts-card {
  margin-top: 25px;
  max-height: 291px;
  max-width: 296px;
  background-color: #fff;
}

.recent-posts {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  width: 100%;
}

.card-title {
  font-family: "Lora";
  padding-left: 6px;
  font-size: 16px;
  line-height: 21px;
}

.card-paragraph {
  height: 52px;
  padding-left: 6px;
  font-family: "Oxygen";
  font-size: 13px;
  line-height: 19px;
  color: #7A7A7A;
}

.card-info {
  display: flex;
  justify-content: space-between;
  padding: 7px 6px 6px;
  border-top: 1px solid #EFEFEF;
  font-family: "Oxygen";
  font-size: 11px;
  line-height: 35px;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-image {
  max-height: 26px;
  max-width: 26px;
  border-radius: 50%;
}

.footer {
  height: 378px;
  background-image: url(../images/b9f51b49e1cc36adb376363a8a8154c0926357df.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip-path: inset(0, 0, 0, 0);
}

.footer-title {
  margin: 72px 641px 38px;
  width: 216px;
}

.form {
  display: flex;
  gap: 0;
  align-self: center;
  margin: 0px 467px 90px;
}

input {
  width: 375px;
  margin: 0;
  border: 1px solid #000;
  padding: 18px 35px;
  background-color: #fff;
  font-family: "Roboto";
  font-size: 12px;
}

button {
  width: 125px;
  margin: 0;
  border: 1px solid #000;
  border-left: none;
  padding: 18px 0px;
  color: #000;
  font-family: "Roboto";
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.28);
}

button:hover {
  box-shadow: inset 0 0 0 100px rgb(0 0 0 / 0.15);
  cursor: pointer;
}

button:focus {
  outline: 2px solid #000;
  outline-offset: 0;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 89px;
  background-color: rgba(35, 47, 56, 0.6);
  padding: 27px 240px;
}
